Ctrip.SOA.Business.Test/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2595/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" />
  <xs:import schemaLocation="http://localhost:2595/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Infratructure.ServiceProxy" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" minOccurs="0" name="entity" nillable="true" type="q1:UserModelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" minOccurs="0" name="AddUserResult" nillable="true" type="q2:UserModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" minOccurs="0" name="entity" nillable="true" type="q3:UserModelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Infratructure.ServiceProxy" minOccurs="0" name="UpdateUserResult" nillable="true" type="q4:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" minOccurs="0" name="entity" nillable="true" type="q5:UserModelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Infratructure.ServiceProxy" minOccurs="0" name="DeleteUserResult" nillable="true" type="q6:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q7:ArrayOfUserModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" minOccurs="0" name="entity" nillable="true" type="q8:UserModelRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Bussiness.User.DataContract" minOccurs="0" name="GetUserResult" nillable="true" type="q9:UserModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>