Ctrip.SOA.Business.Test/Service References/UserService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Infratructure.ServiceProxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ctrip.SOA.Infratructure.ServiceProxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
</xs:schema>